@using Sitecore.Mvc;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
</head>
<body>
    <h1>@Html.Sitecore().Field("title")</h1>
    <div>@Html.Sitecore().Placeholder("main-body")</div>
</body>
</html>
